@use "./plug" as p;

#about {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: p.$accent-second-bg;
  padding-bottom: 2rem;


  .about-container {
    width: 100%;
    padding: 0 1rem;
    margin-top: 6rem;
  }
}

@media screen and (max-width: p.$laptop) {
  #about {
    gap: 1.5rem;

    .about-container {
      padding: 0 0.5rem;
    }
  }
}
