

// Colors Pallette
$light-text: #F6F3EC;
$primary-bg: #ECE4DA;
$bright-two: #B9A590;
$bright-three: #574C3F;
$text-color: #36302A;

// Border Radius
$card-bdr: 10px;
$inner-card-bdr: 5px;
$button-bdr: 20px;
$soft-button-bdr: 10px;


// Breakpoint units
$monitor: 1200px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 468px;

// Rem & Em functions
$base-fs: 16px;

@function pxToRem() {
    @return $base-fs * 1rem;
}