

// Colors Pallette
$light-two: #F6F3EC;
$primary-bg: #ECE4DA;
$bright-two: #B9A590;
$bright-three: #574C3F;
$text-color: #36302A;


// Border Radius
$card-bdr: 10px;
$inner-card-bdr: 5px;
$button-bdr: 20px;