@use "./plug" as p;

header {
  width: 100%;
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 80vh;
  gap: 2rem;

  .banner-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 5px;
    max-width: 1200px;
    margin: 0 auto;

    h2 {
      color: p.$primary-bg;
      padding: 10px;
    }

    .banner-name {
      font-size: clamp(3rem, 8vw, 5.5rem);
      font-weight: 600;
      color: p.$primary-bg;
      text-align: center;
      padding: p.rem(10px);

      span {
        color: #4abf66;
      }
    }

    .banner-header {
      font-weight: 500;
      text-align: center;
      font-size: clamp(20px, 3vw, 26px);
    }

    .banner-subheading {
      font-weight: 350;
      text-align: center;
      padding: 10px;
      font-size: clamp(20px, 3vw, 26px);
    }
  }

  .social-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .social-inner-container {
      display: flex;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        background-color: none;
        color: #ffffff;
        font-size: 1.5rem;
        transition: all 0.3s ease;

        &:hover {
          background-color: p.$accent-main;
          color: p.$main-color;
          transform: translateY(-5px);
        }
        i {
          font-size: 30px;
          color: p.$primary-bg;
        }

        i:hover {
          color: p.$main-color;
          transition: all 0.25s ease;
        }
      }
    }
  }
}

.bannerBTN-container {
  margin: 2.5rem 0rem;
  text-align: center;
  border: 1px solid blue;
  height: auto;
}

.banner-btn {
  border: 1px solid p.$primary-bg;
  padding: p.rem(20px) p.rem(35px);
  font-size: 1.25rem;
  background-color: transparent;
  color: p.$main-color;
  border-radius: p.$button-bdr;
  text-decoration: none;
}

.banner-btn:hover {
  background-color: p.$accent-main;
  transition: all 0.2s ease;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  header {
    .banner-container {
      width: 100%;
    }

    .banner-name {
      font-size: 3rem;
    }

    .banner-subheading {
      font-size: 1.2rem;
    }
  }

  .social-inner-container {
    gap: 1rem;

    a {
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .banner-container {
    padding: 0 1rem;
  }

  .banner-header {
    font-size: 1rem;
  }

  .banner-name {
    // font-size: 1rem;
    border: 1px solid red;
  }

  .banner-subheading {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .social-inner-container {
    gap: 0.8rem;

    a {
      width: 2.2rem;
      height: 2.2rem;
      font-size: 1rem;
    }
  }

  .banner-btn {
    padding: 0.6rem 1.5rem;
    font-size: 0.9rem;
  }
}
