@use "./plug" as p;

header {
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;

  .banner-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    h2 {
      color: p.$primary-bg;
      padding: 10px;
    }

    .banner-name {
      font-size: clamp(55px, 10vw, 90px);
      font-weight: 400;
      color: p.$primary-bg;
      text-align: center;
      padding: p.rem(10px);

      span {
        color: #4abf66;
      }
    }

    .banner-header {
      font-weight: 350;
      text-align: center;
      font-size: clamp(20px, 3vw, 26px);
    }

    .banner-subheading {
      font-weight: 350;
      text-align: center;
      padding: 10px;
      font-size: clamp(20px, 3vw, 26px);
    }
  }

  .social-container {
    margin-top: 15px;

    .social-inner-container {
      width: 50%;
      margin: auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      // border: 1px solid red;

      a {
        i {
          font-size: 30px;
          color: p.$primary-bg;
        }

        i:hover {
          color: p.$main-color;
          transition: all 0.25s ease;
        }
      }
    }
  }
}

.bannerBTN-container {
  margin-top: 2.5rem;
  // border: 1px solid red;
  text-align: center;
}

.banner-btn {
  border: 1px solid p.$primary-bg;
  padding: p.rem(20px) p.rem(35px);
  font-size: 1.25rem;
  background-color: transparent;
  color: p.$main-color;
  border-radius: p.$button-bdr;
  text-decoration: none;
}

.banner-btn:hover {
  background-color: p.$accent-main;
  transition: all 0.2s ease;
}

@media screen and (max-width: p.$tablet) {
  header {
    .banner-container {
      width: 100%;
    }

    .social-container {
      .social-inner-container {
        width: 80%;
      }
    }
  }
}
