@use "./plug" as p;

#blog {
  height: 50vh;
  background-color: p.$accent-second-bg;

  .blogBanner-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    background-color: p.$accent-second-bg;

    h4 {
      color: p.$primary-bg;
      font-weight: 400;
      padding: 0 1rem;
      width: 100%;
      text-align: center;
    }

    h1 {
      font-size: 3.5rem;
      font-weight: 400;
      color: p.$primary-bg;
      padding: 0 1rem;
      width: 100%;
      text-align: center;

      span {
        color: p.$main-color;
      }
    }

    h2 {
      color: p.$primary-bg;
      font-weight: 400;
      width: 100%;
      text-align: center;
      padding: 0 2rem;

      span {
        color: p.$main-color;
      }
    }

    div {
      i {
        margin-top: 2rem;
        font-size: 2rem;
        color: p.$primary-bg;
      }
    }
  }

  .blog-filter-container {
    height: 20vh;
    background-color: p.$primary-bg;

    .filter-top {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60%;

      .input-container {
        width: clamp(p.rem(400px), 60%, p.rem(1000px));
        height: 60%;
        position: relative;
        display: flex;

        input {
          border: none;
          position: relative;
          width: 100%;
          height: 100%;
          padding: 1rem;
          border-radius: p.$soft-button-bdr;
          background-color: p.$accent-second-bg;
          color: p.$main-color;
          font-size: 1rem;
        }

        input::placeholder {
          color: p.$main-color;
          font-size: 1rem;
        }

        input::value {
          color: red;
        }

        i {
          position: absolute;
          right: 0;
          height: 100%;
          width: 7%;
          @include p.flexCenter;
          font-size: 1.5rem;
          pointer-events: none;
          color: p.$primary-bg;
        }
      }
    }

    .filter-bottom {
      height: 40%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;
      flex-wrap: wrap;
      padding: 0 0.5rem;

      button {
        padding: 0.5rem;
        border-radius: 5px;
        border: none;
        background-color: p.$accent-second-bg;
        color: p.$primary-bg;
        cursor: pointer;
      }

      button:hover {
        transform: scale(1.1);
        transition: all 0.25s ease;
        background-color: p.$accent-main;
      }
    }
  }

  .blog-newsletter {
    height: auto;
    padding: 3rem;
    background-color: p.$primary-bg;
    @include p.flexCenter;

    .newsletter-container {
      background-color: p.$light-text;
      height: auto;
      display: flex;
      padding: 2rem;
      border-radius: 10px;
      justify-content: center;
      align-content: center;
      flex-direction: column;

      h1 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 500;
        color: p.$accent-second-bg;
        padding: 1rem;
      }

      h3 {
        text-align: center;
        font-weight: 500;
        padding-top: 1rem;
        color: p.$accent-second-bg;
      }

      form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1.5rem;

        input[type="email"] {
          padding: 1rem;
          width: 80%;
          border: none;
          border-radius: p.$soft-button-bdr;
          background-color: p.$accent-second-bg;
          color: p.$main-color;
          font-size: 1rem;
          box-shadow: p.$boxShadow;
        }

        input[type="email"]::placeholder {
          color: p.$main-color;
        }

        input[type="submit"] {
          padding: 1rem;
          border-radius: p.$soft-button-bdr;
          background-color: p.$accent-second-bg;
          color: p.$primary-bg;
          border: none;
          cursor: pointer;
        }
        input[type="submit"]:hover {
          background-color: p.$accent-main;
          transition: all 0.25s ease;
          box-shadow: p.$boxShadow;
        }
      }
    }
  }

  .post-container {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: p.$primary-bg;

    .blogpost-container {
      box-shadow: p.$boxShadow;
      background-color: p.$light-text;
      margin: 1rem;
      display: flex;
      flex-direction: column;
      width: p.rem(400px);
      border-radius: p.rem(10px);

      figure {
        width: 100%;
        border-top-left-radius: p.rem(10px);
        border-top-right-radius: p.rem(10px);
        height: p.rem(200px);
        overflow: hidden;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }

      .filter-container {
        width: 100%;

        ul {
          width: 100%;
          height: 100%;
          padding: 0.75rem;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-evenly;
          gap: 0.5rem;

          button {
            padding: 0.5rem;
            border-radius: 5px;
            border: none;
            background-color: p.$accent-second-bg;
            color: p.$primary-bg;
            cursor: pointer;
          }
        }
      }
      h1 {
        font-weight: 550;
        padding: 0.5rem 1rem 0 1rem;
      }
      p {
        padding: 0.5rem 1rem;
        flex-grow: 1;
      }
      h2 {
        font-weight: 500;
        font-size: 1rem;
        padding: 0.5rem 1rem;
      }
      .read-full-post {
        @include p.flexCenter;
        padding: 0.5rem 0 1rem 0;

        button {
          width: 90%;
          padding: 1rem;
          font-weight: 600;
          color: p.$accent-main;
          border: none;
          border-radius: p.rem(5px);
          background-color: p.$bright-two;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #blog {
    .blog-filter-container {
      .filter-top {
        i {
          width: 15% !important;
        }
      }
    }

    .blog-newsletter {
      .newsletter-container {
        form {
          flex-direction: column;
          align-items: flex-start;

          input[type="email"] {
            width: 100%;
          }
          input[type="submit"] {
            width: 40%;
          }
        }
      }
    }
  }
}
