@use "./plug" as p;

.hero-container {
  position: relative;
  height: 110vh;
  overflow: hidden;

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../assets/images/hero-banner.jpg");
    background-position: center;
    background-size: cover;
    filter: brightness(0.4);
    z-index: 1;
    animation: subtle-zoom 30s infinite alternate ease-in-out;
  }

  .content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;

    .hero-content-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

@keyframes subtle-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
