@use "./plug" as p;

nav {
  top: 0;
  left: 0;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;

  .nav-img-container {
    width: 10%;

    figure {
      height: 100%;

      img {
        width: auto;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .nav-links-container {
    // border: 1px solid blue;
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    li {
      a {
        font-size: clamp(16px, 2vw, 22px);
        font-weight: 500;
        text-decoration: none;
        color: p.$primary-bg;
        padding: 15px;
        border-radius: p.$soft-button-bdr;
      }

      a:hover {
        color: p.$main-color;
        transition: all 0.25s ease;
      }
    }
  }

  .mobile-btn {
    background-color: transparent;
    border: none;
    width: 20%;

    i {
      font-size: 30px;
      color: p.$primary-bg;
    }
  }
}


@media screen and (max-width: 768px) {
    .nav-container {
        .nav-links-container {
            display: none;
        }
    }    
}