@use "./plug" as p;

.portfolio-container {
    background-color: p.$accent-second-bg;

    .port-header {
        // border: 2px solid red;
        margin-top: 1rem;
        padding: 2rem 1rem;
        
        h1 {
            font-weight: 500;
            font-size: 2.5rem;
            color: p.$primary-bg;

            span {
                color: p.$main-color;
            }
        }
    }
    .port-items {
        border: 1px solid red;
        display: flex;
        background-color: p.$primary-bg;
    }
}

.port-card-container {
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    max-width: p.rem(500px);

    figure {
        width: 100%;
        height: auto;
        border: 1px solid red;

        img {
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }
    h2 {
        border: 2px solid blue;
        padding: 1rem;
        font-size: 2rem;
        font-weight: 550;
    }
}