@use "./plug" as p;

#skills {
    height: auto;
    background-color: p.$primary-bg;

    .skills-header {
        // border: 1px solid red;
        height: 10vh;
        @include p.flexCenter;
        font-weight: 400;
        font-size: 50px;
        background-color: p.$bright-two;
        color: p.$bright-three;
    }

    .skills-wrapper {
        height: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 60px;
        padding: 60px;
    }
}   
